<form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid gap-2">
  <label class="grid gap-1">
    <span>Title</span>
    <input 
      formControlName="title"
      placeholder="Title..."
      class="input"
      type="text">
  </label>
  <label class="grid gap-1">
    <span>Amount</span>
    <input 
      formControlName="amount"
      placeholder="Amount..."
      class="input"
      type="number">
  </label>

  <label class="grid gap-1">
    <span>Category</span>
    <select formControlName="category" class="input">
      <option *ngFor="let category of this.categoryService.categoriesSig()" [value]="category.id">
        {{ category.title }}
      </option>
    </select>
  </label>

  <div class="flex items-center gap-4">
    <label class="flex cursor-pointer items-center gap-2">
      <input formControlName="type" type="radio" value="income" class="form-radio text-blue-600">
      <span>Income</span>
    </label>
    <label class="flex cursor-pointer items-center gap-2">
      <input formControlName="type" type="radio" value="expense" class="form-radio text-blue-600">
      <span>Expense</span>
    </label>

    <button [disabled]="form.invalid" class="btn btn-green">Submit</button>
  </div>
</form>
