<table class="w-full shadow rounded mt-4">
  <thead class="bg-blue-600 text-white">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Date</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1000</td>
      <td>Rent</td>
      <td>500</td>
      <td>today</td>
      <td>salary</td>
      <td class="text-right">
        <button class="text-red-600"><fa-icon [icon]="trashIcon"/></button>
      </td>
    </tr>
  </tbody>
</table>
